@import "./mixins";

header {
  width: 100%;
  padding: 24px 80px;
  background: $white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);

  img:hover {
    cursor: pointer !important;
  }

  @include flex(row, space-between, center);
  @include responsiveDetail() {
    padding: 24px 40px !important;

    h1 {
      font-size: 20px !important;
    }
  }
}
