@import "./variables";
@import "./mixins";
@import "./_reset.scss";
@import "./header";

main {
  padding: 48px 80px;

  @media (max-width: 768px) {
    padding: 48px 40px;
  }

  .countries {
    width: 100%;
    background-color: $light-bg;

    @include flex($justify: space-around);
    flex-wrap: wrap;
    row-gap: 67px;
    column-gap: 75px;

    .country {
      max-width: 264px;
      background-color: $white;
      border-radius: 5px;
      box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.03);
      overflow: hidden;

      &:hover {
        cursor: pointer;
      }
      img {
        width: 267px;
        height: 160px;
      }

      .card-info {
        padding: 24px 0 46px 24px;
        @include flex(column);
        gap: 8px;

        h2 {
          margin-bottom: 8px;
        }
      }
    }
  }

  .filtering {
    margin-bottom: 48px;
    @include flex(row, space-between, center);

    @media (max-width: 767px){
      flex-direction: column;
      gap: 30px;
    }

    #searchcontinent {
      padding: 18px 24px;
      padding-right: 50px;
      border: none;
      outline: none;
      border-radius: 5px;
      background-color: #fff;
      box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.05);
      width: 200px;
      height: 56px;
      color: #111517;
      font-family: "Nunito Sans";
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;

      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;

      background-image: url("data:image/svg+xml;utf8,<svg fill='%23111517' height='10' viewBox='0 0 20 20' width='10' xmlns='http://www.w3.org/2000/svg'><path d='M5 7l5 5 5-5z'/></svg>");
      background-repeat: no-repeat;
      background-position: right 25px center; // 👈 change this value
      background-size: 12px;

      &:hover {
        cursor: pointer;
      }

    }
  }

  .searchbar {
    @media (max-width: 1023px) {
      display: flex;
      justify-content: center;
    }
  }

  .searchtext {
    width: 480px;
    height: 56px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.05);
    border: 0;
    padding-left: 50px;
    color: #848484;
    font-family: "Nunito Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    outline: none;

    @media (max-width: 1023px) {
      width: 300px;
    }
  }
}
