@import "./variables";
@import "./mixins";
@import "./_reset.scss";
@import "./header";

main {
  padding: 48px 80px;

  .countries {
    width: 100%;
    background-color: $light-bg;

    @include flex($justify: space-around);
    flex-wrap: wrap;
    row-gap: 67px;
    column-gap: 75px;

    .country {
      max-width: 264px;
      background-color: $white;
      border-radius: 5px;
      box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.03);
      overflow: hidden;

      &:hover {
        cursor: pointer;
      }
      img {
        width: 267px;
        height: 160px;
      }

      .card-info {
        padding: 24px 0 46px 24px;
        @include flex(column);
        gap: 8px;

        h2 {
          margin-bottom: 8px;
        }
      }
    }
  }
}
